.navbar-body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25183e;
  border-radius: 0px 0px 250px 250px;
  width: 80%;
  padding: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-with{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.navbar-title {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.navbar-title span {
  font-size: 20px;
}

.navbar-title .title-page {
  color: #514799;
}

.nav-bg{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.nav-button{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0.5rem;
  background-color: #201335;
}

.withiy{
  width: 50%;
}

.nav-respon-content{
  display: none;
}

.responsive-menu{
  display: none;
  justify-content: center;
  align-items: center;
  position:absolute;
  background-color: #25183e ;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  left: 0;
  top: 3rem;
}

.responsive-menu div{
 padding: 1rem;
 font-size: 20px;
}

@media only screen and (max-width: 750px) {
  .nav-bg{
   width: 20px;
  }

  .nav-respon-content{
     display: block;
  }

  .navbar-body{
    border-radius: 0px;
    width: 100%;
  }

  .withiy{
    display: none;
  }
  .nav-button{
    display: none;
  }
}
